*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.row{
  justify-content: center;
  margin: 15px 0;
}

.card{
  margin-top: 15px;
}

.citySelector{
 margin-top: 55px;
}
